body {
    background: rgb(175,195,255);
    background: radial-gradient(circle, rgba(175,195,255,1) 0%, rgba(198,255,251,1) 100%);
    font-family: Candara;
    margin: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

h1{
    margin-top: 40px;
    top:50px;
}

h3{
    text-align: center;

}

button:visited {
    text-decoration: none;
    color: #0e1e40;
}

button:hover {
    color: white;
}

button:active {
    color: white;
}

#content {
    margin: 113px 0px 0px 150px;
    display: block;
    padding: 10px;
}


#navigationTiny{
    display: none;
}

#navigation {
    display: block;
    topnav: 0;
    left: 0;
    width: 142px;
    height: 100%;
    position: fixed;
}

.navbtns {
    cursor: pointer;
    background-color: #0e1e40;
    color: white;
    border-radius: 5px;
    font-size: 100%;
    text-decoration: none;
    border: none;
    display: inline-block;
    padding:5px;
    margin: 10px;
    width: 100%;
    text-align: center;
}

.navbtns:hover {
    background-color: #0789ed;
}

.pic{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#btns {
    display: block;
    top: 40px;
    position: fixed;
    right:20%;
}

.container{
    text-align: justify;
    background-color: white;
    padding:10px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
    width: 60%;
}

.pic {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

p{
    margin-right: 5%;
    margin-left: 5%;
}

table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    border-collapse: collapse;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 10px;
    text-align: left;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    .center{
        width: 30%;
    }

    .container{
        width: 90%;
    }

    #navigation{
        display: none;
    }

    #navigationTiny{
        text-decoration: none;
        top: 50px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
    }

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
        text-align: justify;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .pic{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

.topnav {
    overflow: hidden;
    background-color: #0e1e40;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: #0e1e40;
}

.topnav a.active {
    background-color: #0789ed;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #0e1e40; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #0789ed; /* Add a dark-grey background on hover */
}